body {
    background: url('') no-repeat;
    background-size: none;
    margin-left: 1%;
    background-color: #E8F1F2;
}

ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
    font-family: arial;

}

ul li {
    float: left;
    width: 14%;
    background-image: linear-gradient(#050A10, #00547A, #00547A);
    line-height: 200%;
    text-align: center;
    font-size: 100%;
}

ul li a:hover {
    background-color: green;
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: contents;
}

.menubar {
    position: fixed;
    top: 1%;
    left: 1%;
    width: 100%;
    opacity: 0.8;
}

#logo{
    width: 100%;
    line-height: 0%;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10%;
}

