body {
    background: url('') no-repeat;
    background-size: none;
    margin-left: 1%;
    background-color: #E8F1F2;
}

.menubar ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
    font-family: Courier;
}

.menubar ul li {
    float: left;
    width: 14%;
    background-image: linear-gradient(#050A10, #00547A, #00547A);
    line-height: 200%;
    text-align: center;
}

.menubar ul li a:hover {
    background-color: black;
}

.menubar ul li ul li {
    display: none;
}

.menubar ul li:hover ul li {
    display: contents;
}

.menubar {
    position: fixed;
    top: 1%;
    left: 1%;
    width: 100%;
    opacity: 0.8;
    font-weight:700;
    font-size:90%;
}

#logo{
    width: 100%;
    line-height: 0%;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10%;
}

@media screen and (max-width: 1080px) {
    .menubar ul li:not(:first-child) {display: none;}
    .menubar ul li{
      float: bottom;
    }
  }