.clr {
    clear: both;
}

.container {
    border-radius: 20px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-image: linear-gradient(to right, #00547A, #050A10);
    padding: 10px;
}

#main {
    float: left;
    width: 30%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
    border: 1px solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 100%;
}

#sidebar {
    float: left;
    width: 85vw;
    color: #fff;
    box-sizing: border-box;
    font-size: 20px;
    padding: 10px;
}

.topbar {
    width: 70vw;
    height: 30vw;
    margin: 0 auto;
}

.page_title {
    margin-left: 0%;
    color: white;
    text-align: center;
}

.partner_name {
    margin-top: 3%;
    margin-left: 1%;
    font-family: Courier;
    color: white;
    margin-bottom: 0%;
}

.line_break {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-image: linear-gradient(to right, #00547A, #050A10);
    padding: 10px;
}

#body {
    margin-left: 3%;
    margin-right: 3%;
    font-family: Verdana, sans-serif
}