.toppage { /* The top translucent image */
	width: 200vh;
	position: relative;
	margin: 0 auto;
	overflow-x: hidden;
}

.toppage .toppagediv { /* Making sure it goes right over the image, and with no margin issues */
	position: absolute;
  	bottom: 0;
  	background: #00547A; 
  	opacity: 50%;
  	width: 200vh;
  	padding: 200vh 0% 200vh 0%;
  	color:black;
  	overflow-x: hidden;
}

.initialstatement {
	margin-top:3vh;
}

body { /*Just some basic styles and margin stuff */
	margin-left:0%;
	font-family: Verdana;
	overflow-x: hidden;
	background-color: #E8F1F2;
	margin-right:0%;
	margin-top:0%;
}

h1 {
	font-size:600%;
	margin-bottom:0%;
	margin-left:5%;
}
h2 {
	margin-left:5%;
}
h3 {
	margin-left:5%;
	margin-right:3%;
}
p {
	margin-left:5%;
	margin-right:3%;
}

ul {
	margin-left:10%;
}

form {
	margin-left:5%;
}

label {
	margin-left:6%;
}

.div2 { /*The next couple functions are for the basic split of the page */
	width:100%;
}

.Leftdiv1 {
	width:50%;
	height:25%;
	float:left;
}

.Rightdiv1 {
	height:60vh;
	max-height:60vh;
	margin-left:50%;
}

.design { /*relatively similar code to the top page, this time with the split image with text content over it */
	position: relative;
  	max-width: 85vh;
  	margin: 0 auto;
}

.design .designdiv {
	position: absolute;
 	top: 0;
  	background: rgb(0, 0, 0); 
 	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  	color: #f1f1f1;
  	width: 88%;
  	padding: 6%;
}

.design img{ /* Align the images in design classes to the middle */
	vertical-align: middle;
}
