
.topspacing {
  height: 100px;
}

.aboutbodywidth {
  width: 98vw;
  height: 100vh;
}

.abouttext1 h2 {
  margin-bottom: 0%;
  margin-top: 2%;
  text-align: left;
  font-family: Arial;
  width: 98%;
}

.aboutimg1 {
  padding-right: 2%;
  width: 35vw;
  min-width: 200px;
  float: left;
}

.abouttext1 {
  text-align: left;
  font-family: Arial;
}