/*.blogBody {
    margin: 40% 2% 0% 2%;
    text-align: center;
}*/
.post{
    padding: 1% 2%;
    margin: 5% 0% 8% 0%;
    background-image: linear-gradient(#042b5a, #00547A, #00547A) ;
    border-radius: 25px;
    color: white;
    border-color: black;
    border-width: 5px;
    border-style: transparent;
}

body{
    font-family: Verdana;
    margin-left: 0%;
}

.postTitle{
    color: white;
    font-size: 300%;
    margin: 2% 2% 1% 2%
}

h1.title{
    font-size: 500%;
    text-align: left;
}

.blogposts{
    margin: 40% 4% 0% 4%;
    text-align: center;
}

small{
    font-size: 80%;
}
p{
    font-size: 150%;
}