.blogBody {
    margin: 8% 15%;
}
.post{
    padding: 1% 2%;
    margin: 1% 0%;
    background-color: #00547A;
    border-radius: 20px;
    color: white;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}