
#rest {
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: white;
    margin: 0;
}

#title{
    font-weight: bold;
    font-size: 300%;
    padding-left: 40px;
    padding-top: 10px;
    color: black;
}


/* Description and Features*/

.description ul{
	list-style: none;
}

#full section{
    width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 10px;
}

#full section h3.title{
	color: black;
	text-transform: capitalize; 
    font-size: 200%;
    font-weight: bold;
	margin-bottom: 35px;
	text-align: center;
}

#full section p{
	max-width: 600px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
    line-height: 2;
}

ul.network{
    padding-top: 50px;
    width: 100%;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    margin-right: 70px;
}

.description{
    background-color: white;
}

.description .network li{
	padding: 0 20px;
	flex-basis: 35%;
    text-align: center;
}

.description .network li h4{
	color: black;
    font-size: 20px;
    margin-bottom: 25px;
}

.description .network li p{
    padding-bottom: 50px;
    display: block;
}

.description img{
    align-content: center;
    height: 70px;
    width: 70px;
    
}

/* Adjusting the flexbox items when resolution increases */

@media only screen and (min-width: 2048px) {
    .description .network li{
        flex-basis: 25%;
    }
    .description .network li p{
        margin: 0 5%;
    }
}

@media only screen and (min-width: 2960px) {
    .description .network li{
        flex-basis: 20%;
    }
}

@media only screen and (min-width: 3840px) {
    .description .network li{
        flex-basis: 15%;
    }
}


/* Blue Background Pic, Title and Slogan*/

#intro {
    padding: 192px 0 160px 0;
    background-image: url('../Images/blueaesthetic.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}

    #intro h1 {
        font-size: 56px;
        font-weight: 100;
        color: white;
        line-height: 40px;
        margin: 0 0 8px 0;
        padding: 0;
    }

    #intro p {
        font-size: 16px;
        color:white;
        margin-bottom: 32px;
    }


    @media screen and (max-width: 1280px) {
        #intro {
            padding: 160px 32px 128px 32px;
        }
    }

    @media screen and (max-width: 980px) {
        #intro {
            background-attachment: scroll;
        }
    }

    @media screen and (max-width: 736px) {
        #intro {
            padding: 128px 24px 96px 24px;
        }
            #intro h1 {
                font-size: 40px;
            }
            #intro p {
                font-size: .9em;
            }
    }

    @media screen and (max-width: 480px) {
        #intro {
            padding: 96px 24px 64px 24px;
        }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        #intro {
            background-attachment: scroll;
        }
    }

