.aboutbodywidth {
  width: 98vw;
  overflow-y: auto;
  overflow-x: visible;
}


body{

    overflow-x: hidden;
}



.intro{

    background-color: #ffffff;
    padding-top:100px;
    padding-bottom:150px;
    padding-left:100px;
    padding-right:100px;

}

.intro h5{
    font-size:200%;
    font-weight:200;
    line-height: 0;
}

.intro form{
    font-size:100%;
}

.aboutimg1 {
  padding-bottom: 1%;
  width: 20vw;
  max-width: 50vh;
  min-width: 100px;
  max-height: 75vh;

  float: right;
}

.button{
    background-color:#2f7393;
    color:#fff;
    padding:6px 9px;
    border:none;
}  

.app-icon{
    margin-left: 48%;
    width:65%;
    height:auto;

    padding-top:100px;
}

.try_app{
    font-size: 300%;
    font-weight: 100;
    letter-spacing:0.01em;
    word-spacing:0.07em;
    text-align:center;

line-height: 0;
}


.try_sub{
    font-weight: 100;
    color:#5f6368;
    letter-spacing:0.01em;
    word-spacing:0.07em;
    text-align: center;
}



.download_sites{

    text-align: center;
}

.download_sites img{
    margin-right:20px;
    margin-left:20px;
    width:10%;
    height:auto;
    padding-bottom:100px;
}